<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ locale }}</title>
    </head>
    <body>
        <h1>COVID-19 cases in {{ locale }}: {{ data_request }} {% if project %} (projected) {% endif %} </h1>
            <img src="{{ url_for('fig', data_request=data_request, locale=locale, project=project) }}" alt="Cases in {{ locale }}">
        <form action="/submit_projection" method="POST">
            <p>Select which date you'd like to project to:
                <input type="text" name="date" placeholder="mm/dd/yy">
                <input type="submit" value="Submit"></p>
        </form>

    </body>
</html>