<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ locale }}</title>
    </head>
    <body>
        <h1>Minimum wage graph for {{ locale }}: {{ data_request }} </h1>
            <img src="{{ url_for('fig', data_request=data_request, locale=locale, project=project) }}" alt="Minimum wage in {{ locale }}">
        <form action="/submit_projection" method="POST">
            <p>Select how many years into the future you'd like to project to:
                <input type="number" name="years">
                <input type="submit" value="Submit"></p>
        </form>

        <p><a href="/templates/home.html" class="button">Back to Home</a></p>

    </body>
</html>